html, body { 
  height: 100%; 
  margin: 0; 
  padding: 10px;
}
      
#map { 
  height: 500px;
  width: 500px; 
  position: relative;
  float: left;
}

#inputs {
  position: relative;
  float: left;
  height: 150px;
  border: 2px solid black;
}

#inputs2 {
  position: relative;
  float: left;
  height: 250px;
  border: 2px solid black;
}

#outputs {
  position: relative;
  float: left;
  clear: top;
}

p {
  position: relative;
  float: left;
}